.active-link {
  position: relative;
}

.active-link::after {
  content: "";

  position: absolute;

  left: 0;
  right: 0;

  bottom: 0;

  height: 2px;

  border-radius: 10px;

  background: #2385ff;

  box-shadow: 0 0 8px rgba(35, 133, 255, 0.55);
}